In [57]:
import pandas as pd
from rake_nltk import Rake

In [68]:
df= pd.read_csv('ScenarioCollection23.csv')
df = df.drop(['key-word', 'prompt'], axis=1)
scenario = df['scenario']

In [69]:
#clean
scenario = scenario.dropna().drop_duplicates().str.lower()

In [81]:
# initialize RAKE
r = Rake()

# define a function to extract the top keyword
def extract_top_keyword(text):
    r.extract_keywords_from_text(text)
    keywords = r.get_ranked_phrases_with_scores()
    for score, keyword in keywords:
        if len(keyword.split()) == 1:
            return keyword

# apply the function to the 'scenario' column
df['keyword'] = scenario.apply(extract_top_keyword)
df.dropna(inplace=True)
df.head()

   year                                           scenario        keyword
0  2030  multinational negotiations for repurposing was...  manufacturing
1  2030  the global acknowledgement of overfishing and ...      singapore
2  2030  coca (cities of climate action) agree on plane...      necessary
3  2030  the parliament of the commons was established ...        commons
4  2030  the climate march was held in response to food...       response

In [80]:
#download as csv

#df.to_csv('humanscenario_singlekeyword.csv', index = False)